h1 {
  font-size: 24px;
  color: #999;
}
h2 {
  font-size: 20px;
  color: #999;
}
.footer {
  font-size: small;
  margin-bottom: 2em;
}
.footer .col-md-6 {
  padding: 0px;
}
.navbar {
  border-color: #e6e6e6;
  border-width: 0px 1px 4px 1px;
}
.video {
  border: 2px solid #e6e6e6;
  overflow: hidden;
  margin: 1.5em 0px;
}
.video p {
  border-top: 1px solid #e6e6e6;
  padding-top: 5px;
}
p > a > img {
  margin: 2em;
}
blockquote {
  font-style: italic;
  border-left: none;
}
.navbar-toggle {
  border: 1px solid #337ab7;
}
.icon-bar {
  background: #337ab7;
}
